[MASTER]
ignore=curation_portal/migrations

load-plugins=pylint_django

[MESSAGES_CONTROL]
disable=
  bad-continuation,  # conflicts with Black formatting
  line-too-long,     # conflicts with Black formatting
  duplicate-code,
  missing-docstring

[MISCELLANEOUS]
notes=FIXME,TODO
